<div class="max-w-[1500px] mx-auto p-2 bg-white shadow-md rounded-lg h-[850px] grid grid-cols-[250px_1fr] gap-4">
    <!-- Sidebar (Footer en Sidebar) -->
    <aside class="bg-gray-200 p-4 rounded-lg shadow-md sticky top-0 h-full">
      <app-footer></app-footer>
    </aside>
  
    <!-- Contenu principal -->
    <div class="flex flex-col space-y-4">
      <!-- Header -->
      <app-header></app-header>
  
      <!-- Profile, Search, Dashboard, Transactions -->
      <app-profile></app-profile>
      <app-search></app-search>
      <app-dashboard></app-dashboard>
      <app-transactions></app-transactions>
    </div>
</div>
  